* {
    padding: 0;
    margin: 0;


}

body {
    background-image: url(https://img.freepik.com/free-photo/black-rectangular-mockups-dark-concrete-background-design-elements-portfolio-copy-space_76255-1502.jpg);
    height: max-content;
    background-size: cover;
    background-repeat: no-repeat;
}


/* header details */
.header {
    height: 50px;
    background-image: linear-gradient(to bottom, black, grey);
    padding: 20px;
    margin-bottom: 30px;
    color: antiquewhite;
}

/* shows name */
.header h1 {
    display: inline-block;
    font-size: 55px;
    padding-left: 25px;
    padding-top: 5px;
    text-decoration: underline;
    text-decoration-color: black;
}

/* this edits the ul list in the header */
.header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 325px;
    float: right;
    padding-top: 30px;
    font-size: 25px;
    text-decoration: underline;
    list-style: none;
    cursor: pointer;
    text-decoration-color: black;
}

header ul:hover {
    cursor: pointer;
}

header ul:active {
    color: black;
}


/* about me section */
.aboutme {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 10px;
}

/* "about me" */
.aboutme h2 {
    font-size: 30px;
    padding-top: 40px;
    padding-left: 70px;
    text-align: left;
    color: antiquewhite;
    text-decoration: underline;
    text-decoration-color: black;
}

.aboutme p {
    font-size: 20px;
    width: 65%;
    text-align: center;
    color: antiquewhite;
    padding-top: 15px;
    padding-right: 15px;
}

/* edits the h2 element "Projects" */
#Projects {
    color: antiquewhite;
    width: 90px;
    font-size: 30px;
    padding-left: 100px;
    text-decoration: underline;
    text-decoration-color: black;
}

/* sets up how the images will be aligned */
.projects {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

/* this is the section the image will be placed in */
.card {
    width: 250px;
    height: 200px;
    padding: 10px;
    background-color: ;
    margin: 30px;
}

/* the text box for the word describing the image/project */
.text {
    padding: 2px;
    background-color: white;
    width: auto;
    height: auto;
    border-radius: none;
    border-style: groove;
    text-align: center;
    font-size: 15px;
}

/* how the footer lines up with page */
footer {
    text-align: center;
    height: 3.5rem;
    background-image: linear-gradient(to top, black, grey);
    width: 100%;
    bottom: 0;
    letter-spacing: 1px;
}

footer h2 {
    text-align: left;
    color: antiquewhite;
    text-decoration: underline;
    text-decoration-color: black;
}

@media screen and (max-width: 1440px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 425px) {}